/* Scss Vars*/
$font-primary: 'Markazi Text', serif;
$font-secondary: 'Karla', sans-serif;
$color-primary: rgba(73, 94, 87, 1);
$color-secondary: #F4CE14;
$color-highlight: #EDEFEE;
// breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 760px;
$max-width: 940px;
// $max-width: 860px;



/* Universal reset */
* {
  padding: 0px;
  margin: 0px;
  font-family: $font-secondary;
  color: $color-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
}

h1 {
  font-size: 48px;
  font-weight: medium;
  font-weight: 400;
}

h2 {
  font-size: 32px;
  font-weight: medium;
  font-weight: 400;
}

p,
span {
  font-family: $font-secondary;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  line-height: 32px;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $color-secondary;
    font-weight: bold;
  }
}

img {
  &.rounded {
    border-radius: 16px;
  }

  &.centered {
    margin: auto;
  }
}

.pointer {
  cursor: pointer;
}

.contain-width {
  max-width: $max-width;
  margin: auto;
}

.btn-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: $color-secondary;
  text-align: center;
  border-radius: 8px;
  font-family: $font-secondary;
  font-weight: 700;
  color: black;
}

article.menu-card {
  background-color: $color-highlight;
  border-radius: 16px 16px 0 0;
  width: 250px;

  .card-img {
    height: 250px;
    overflow: hidden;
    border-radius: 16px 16px 0 0;

    img {
      width: auto;
      height: 250px;
      object-fit: fit;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;

    > header {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .delivery {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  &:hover {
    box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

//Main Header and Navigation
.header-main {
  position: fixed;
  background-color: white;
  width: 100%;
  -webkit-box-shadow: 0px 4px 8px -2px rgba(184,177,184,1);
  -moz-box-shadow: 0px 4px 8px -2px rgba(184,177,184,1);
  box-shadow: 0px 4px 8px -2px rgba(184,177,184,1);
  z-index: 100;

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }

  .desktop-nav {
    display: none;
    padding: 20px;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2em;

      li {
        color: $color-primary;
      }
    }
  }
}

.mobile-nav-dropdown {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background-color: white;
  z-index: 100;

  > div {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
      align-items: center;
    margin: 20px;

  }

  nav ul {
    text-align: center;

    li {
      font-size: 24px;
      padding: 12px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Hero
.hero {
  background-color: $color-primary;

  .container {
    display: flex;
    padding: 20px;

    .description {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-right: 20px;

      h1 {
        color: $color-secondary;
      }

      h2,
      p {
        color: white;
        // max-width: 400px;
      }
    }

    .hero-image {
      p {
        color: transparent;
      }

      img {
        width: 150px;
        height: 150px;
        object-fit: fill;
      }
    }
  }
}

// Highlights
.highlights {
  padding: 20px;
  width: -webkit-fill-available;

  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px 20px;

    h1 {
      font-size: 32px;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }
}

// Testimonials
.testimonials {
  padding: 40px 20px;

  h2 {
    text-align: center;
    padding-bottom: 20px;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  article.testimonial-card {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 8px;
    padding: 12px;
    text-align: center;
    background-color: $color-highlight;
    border-radius: 8px;
  }
}

//About
.about {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px;
  align-items: center;

  img {
    width: auto;
  }
}

// Footer
footer {
  background-color: $color-highlight;
  padding: 80px;
  div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.page-container {
  padding: 40px 20px;
}

/* Screen responsiveness */
@media screen and (min-width:$breakpoint-tablet) {
  h1 {
    font-size: 64px;
  }

  .header-main {
    .mobile-nav,
    .mobile-nav-dropdown {
      display: none;
    }

    .desktop-nav {
      display: block;
    }
  }

  .hero {
    max-height: 300px;

    .container {
      justify-content: space-between;

      .description {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-right: 20px;

        h1 {
          color: $color-secondary;
        }

        h2,
        p {
          color: white;
        }
      }

      .hero-image {
        p {
          color: transparent;
        }

        img {
          width: auto;
          height: 320px;
        }
      }
    }
  }

  .highlights {
    margin-top: 80px;

    header {
      padding: 20px 0;

      > h1 {
        font-size: 64px;
      }
    }

    main {
      flex-direction: row;
    }
  }

  .testimonials {
    main {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .about {
    grid-template-columns: 1fr 1fr;

    img {
      width: auto;
      height: 300px;
    }
  }

  footer div {
    grid-template-columns: repeat(4, 1fr);
  }
}