/* Universal reset */
*{
  padding: 0px;
  margin: 0px;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 10vh 1fr 20vh;
}

header {
  background-color: papayawhip;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header nav ul{
  display: flex;
  align-items: center;
  gap: 2em;
  justify-content: center;
}

nav ul li {
  list-style: none;
}

main {
  background-color: green;
}

footer {
  background-color: gold;
}